<a href="https://colab.research.google.com/github/chaithrashagu/Internship/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

**Pandas series object**

In [0]:
data=pd.Series([0.1,0.3,1.4,1.5]) 
data

0    0.1
1    0.3
2    1.4
3    1.5
dtype: float64

In [0]:
data.values#same as the numpy array]

array([0.1, 0.3, 1.4, 1.5])

In [0]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [0]:
data[1]#accessing the data elements in the series

0.3

In [0]:
data[1:3]#Accessing the elements within the range 1 and 3-1

1    0.3
2    1.4
dtype: float64

In [0]:
data=pd.Series([0.25,3.25,5.4,23],index=['a','b','c','d'])#index can be specified explicitly it can be integers and the characters 
data

a     0.25
b     3.25
c     5.40
d    23.00
dtype: float64

In [0]:
data[2]

5.4

In [0]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],# index can either be sequential or the non sequential
                 index=[2, 5, 'a', 7])
data

2    0.25
5    0.50
a    0.75
7    1.00
dtype: float64

In [0]:
data['a']

0.75

**series as specialized dictionary**

In [0]:
fish_count={'golden_fish':1224325,
           'tiger_fish':3465348,
           'shark':2435,
           'dolphin':6596}
print(fish_count)
fish=pd.Series(fish_count)
fish

{'golden_fish': 1224325, 'tiger_fish': 3465348, 'shark': 2435, 'dolphin': 6596}

golden_fish    1224325
tiger_fish     3465348
shark             2435
dolphin           6596
dtype: int64

In [0]:
fish['shark']

2435

**constructing the series objects
syntax=pd.Series(dat,,index=index)**

In [0]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [0]:
pd.Series({2:'v',6:'r',1:'p'})

2    v
6    r
1    p
dtype: object

In [0]:
pd.Series(5,index=[10,20,30])

10    5
20    5
30    5
dtype: int64

In [0]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [0]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

# **Data frames**

In [0]:
maxfishes_dict={'golden_fish':1245,'tiger_fish':1245456,'shark':58768,'dolphin':32753}

place=pd.Series(maxfishes_dict)
place

golden_fish       1245
tiger_fish     1245456
shark            58768
dolphin          32753
dtype: int64

In [0]:
fishes=pd.DataFrame({'max_fishes':place,'fish':fish})
fishes

             max_fishes     fish
golden_fish        1245  1224325
tiger_fish      1245456  3465348
shark             58768     2435
dolphin           32753     6596

In [0]:
fishes.index

Index(['golden_fish', 'tiger_fish', 'shark', 'dolphin'], dtype='object')

In [0]:
fishes.columns

Index(['max_fishes', 'fish'], dtype='object')

In [0]:
fishes['fish']

golden_fish    1224325
tiger_fish     3465348
shark             2435
dolphin           6596
Name: fish, dtype: int64

**constructing the data  frame objects**

In [0]:
#from a single series objects
pd.DataFrame(fishes,columns=['max_fishes'])#syntax=pd.DataFrame(DataFarame_name,columns=['column_name'])

             max_fishes
golden_fish        1245
tiger_fish      1245456
shark             58768
dolphin           32753

In [0]:
#From a list of dicts
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [0]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

**From a two-dimensional NumPy array**

In [0]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.939469  0.372757
b  0.753000  0.766466
c  0.548622  0.190226

In [0]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [0]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

**The Pandas Index Object**

In [0]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [0]:
ind[1] = 0

TypeError: ignored

In [0]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [75]:
indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [76]:
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [79]:
indB ^ indA

Int64Index([1, 2, 9, 11], dtype='int64')

# **Data selection and indexing**